.cabecera-cuerpo-familiares{/*Cabecera del body de la página familiar*/
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: #281da2;
    font-family: lexend, Arial, Helvetica, sans-serif;
    height: 200px;
    width: 87%;
    border-radius: 10px;
    background-image: url("../imagenes/imagenes_portal_de_usuario/cabecera_familiares.png");
  }
  p{/*Texto para la etiqueta <p>*/
    font-size: 25px;
    color: #281da2;
    font-family: lexend, Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  .colocacion-cabecera-cuerpo-familiares{/*CSS para centrar los div*/
    display: flex;
    justify-content: center;/*centra el div en columnas */
    /*align-content: center;*//*centra el div en filas*/
    flex-wrap: wrap;/*obligatorio para centrar*/
  }
  .fondo-contenido-familiar{/*Fondo de la tarjeta para las consultas del familiar-parte derecha*/
    background-image: url("../imagenes/imagenes_portal_de_usuario/fondo_historial_familiar.png");
    background-repeat: no-repeat;
    width: auto;
    border: 1px solid #281da2;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 260px;
    margin-bottom: 10px;
  }
  .fondo-nombre-familiar{/*Fondo para las etiquetas de cada familiar en la página-parte izquierda*/
    background-image: url("../imagenes/imagenes_portal_de_usuario/fondo_tarjeta_familiar.png");
    margin-left: 20px;
    margin-right: 68px;
    margin-left: 200px;
    margin-top: 20px;
    border: 1px solid #281da2;
    border-radius: 10px;
    width: 100%;
    height: 150px;
  }
  .contenedor-familiar{/*Da formato en línea al cuerpo*/
    display: flex;
    flex-direction: row;
  }
  .contenedor-etiqueta-familiares{/*Da formato en columnas etiqueta familiar*/
    display: flex;
    flex-direction: column;
 
  }
  .etiquetas-contenido-familiares{/**/
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    border-radius: 15px;
    border: 1px solid #281da2;
    width: 80%;
  }
  .etiquetas-contenido-familiares:hover{/*Cambia el color y la letra al pasar el ratón*/
    background-color: rgb(153, 160, 174);
    color: white;
  }
  .boton-aniadir{/*tambien se usa para el boton de eliminar y actualizar*/
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #281da2;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
  }
  .boton-aniadir:hover{/*tambien se usa para el boton de eliminar y actualizar*/
    background-color:cadetblue;
  }
  .iconos{/*Tamaño de los iconos*/
    width: 50px;
    height: 50px;
  }
  .contenido-icono{/*Tamaño de los iconos*/
    margin-left: 300px;
    margin-right: 20px;
    padding-top: 27px;
    padding-right: 20px;
  }
  .contenido-texto{/*Tamaño del contenedor que contiene el texto*/
    width: 200px;   
  }
  a{/*Quita la decoración a la etiqueta <a>*/
    text-decoration: none;
  }
  
   











  
  
 