.etiqueta_informes_columnas{/*Estilos para poner los infomes uno debajo del otro*/
    display: flex;
    flex-direction: column;

}
.etiqueta{/*Estilos para las etiquetas color de letra, fondo, borde, tipo de letra y margen*/
    background-color: beige;
    border:1px solid #281da2;
    border-radius: 10px;
    cursor: pointer;
    color: #281da2;
    font-family: lexend, Arial, Helvetica, sans-serif;
    margin: 10px 300px 10px 300px;
   
}
.etiqueta1{/*Tamaño para las etiquetas que contiene los informes*/
    height: 100px;
}
.etiqueta2{/*Tamaño para el div oculto*/
    height: 150px;
}
.etiqueta_informes_horizontal{/*Estilos que pone cada contenedor en columnas*/
    display: flex;
    flex-direction: row;
}
.cabecera_etiqueta_informes{/*Estilos para dar tamaño a las etiqueta que contiene los informes*/
    margin: 10px 20px 10px   10px;
    width: 40%;
}
.visible{/*Estilos para hacer visible el div que muestra el informe*/
    display: block;
}
.invisible{/*Estilos para hacer invisible el div que muestra el informe*/
    display: none;
}
/* Estilos responsive para diferentes tamaños de pantalla */
@media (max-width: 367px) {/*Móvil*/
    .etiqueta_informes_columnas,
    .etiqueta_informes_horizontal {
      flex-direction: column;
    }
  
    .cabecera_etiqueta_informes {
      margin: 10px;
    }
  }
  @media (max-width: 720px) {/*tablet*/
    .etiqueta_informes_columnas {
      flex-direction: row;
    }
  
    .etiqueta1,
    .etiqueta2 {
      height: auto;
    }
  
    .cabecera_etiqueta_informes {
      width: auto;
      margin: 10px 20px;
    }
  }
  @media (max-width: 900px) {/*Pc*/
    .etiqueta {
      margin: 10px;
    }
  }