table{
    padding-right: 10px;
    background-color:#1F736A;
    margin: 10px 10px 10px 10px;
    width: 75%;
    
    
}
.texto{
    color: beige;
    font-size: 30px;
    text-align: center;

}
.celdas{
    background-color:#6ED8A5;
    width: 75%;
    cursor: pointer;
    margin: 10px 8px 0px 10px;
}
.celdas:hover{
    background-color: #B9B8D3;
    color: black;
}
input{
    margin-top: 10px;
}
iframe{
    width: 100%;
    height: 750px;
}

.tam_derecho{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 100%;
    padding-top: 10px;
    margin-right: 15px;
  

}

.filas {
    display: flex;
    flex-wrap: wrap;
}
