table{
    padding-right: 10px;
    background-color:#1F736A;
    margin: 10px 10px 10px 10px;
    width: 75%;
    
    
}
.texto{
    color: beige;
    font-size: 30px;
    text-align: center;

}
.celdas{
    background-color:#6ED8A5;
    width: 75%;
    padding-top: 10px;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
}
.celdas:hover{
    background-color: #B9B8D3;
    color: black;
}

.contenedor-der{
    padding: auto;
    margin: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-top: 20px;

}