.tab_administrador{
    padding-right: 10px;
    background-color:#1F736A;
    margin: 10px 10px 10px 10px;
    width: 75%;  
    
}
.texto_titulo{
    color: black;
    font-size: 26px;
    text-align: center;
}

.texto{
    color: beige;
    font-size: 30px;
    text-align: center;
    font-family: lexend, Arial, Helvetica, sans-serif;  
}
.celdas{
    background-color:#6ED8A5;
    width: 75%;
    cursor: pointer;
    border: 2px solid #1F736A ;
    margin: 10px 8px 0px 10px;
}
.celdas:hover{
    background-color: #B9B8D3;
    color: black;
}
input{
    margin-top: 10px;
}
iframe{
    width: 100%;
    height: 750px;
}
.tam_derecho{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    padding-top: 10px;
    margin: 10px 10px 10px 10px;
}
.filas {
    display: flex;
    flex-wrap: wrap;
}
.tab_especialista{
    background-color:#1F736A;
    border-radius: 10px;
    width: 100%;
    margin: 10px 20px 10px 10px;
    padding: 10px 10px 10px 10px ;
}
.cont_especialista{
    margin: 10px 30px 10px 10px;
    padding: 10px 35px 10px 10px;
    border: 3px solid #1F736A ;
    width: 30%;
}
.contedor_izquierdo{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px ;
    height: 100%;
    display:flex;
}
.con_tabala_agenda{
   
    padding-right: 22px;
}

